<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        <%= t :who_is %>
      </h3>
      <p>
        <%= t :description %>
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        <%= t :Why_nurse %>
      </h3>
      <p>
        <%= t :descriptionOne %>
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        <%= t :Which_programs %>
      </h3>
      <p>
        <%= t :descriptionTwo %>
      <p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
        <%= t :help %>
      </h3>
      <p>
        <%= t :descriptionThree %>
      <p>
    </div>
  </div>
</div>
