<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <h4> <%= t :prize %> </h4>
      <p> <%= t :descriptionFour %> </p>
    </li>
    <li id="section-2">
      <h4><%= t :prize2 %></h4>
      <p><%= t :descriptionFive%></p>
    </li>
    <li id="section-3">
      <h4><%= t :prize3 %></h4>
      <p><%= t :descriptionSix%></p>
    </li>
    <li id="section-4">
      <h4><%= t :Otherprize %></h4>
      <p><%= t :descriptionSeven %></p>
    </li>
  </ul>
</div>
