<div class="gray_background" id='share_container'>
  <div class="wrapper center" id="congrats">
    <h2>
      <%= t :share_hooray %>
    </h2>
    <p><%= t :share_congratulations_1 %>
      <%= Settings.primary_stat_verb %>
      <%= t :share_congratulations_2 %>
      <span id="backer_number"><%= number_with_delimiter Order.backers, :delimiter => "," %></span><%= t :share_congratulations_3 %>
    </p>
    <br />
    <br />
    <div id="share" class="clearfix">
      <div id='tweet_button_container'>
        <%= tweet_button %>
      </div>
    </div>
     <div id="order_id">
      <%= t :share_bookmark_1 %>
      <%= @order.uuid %>
      <%= t :share_bookmark_2 %>
    </div>
  </div>
</div>

<%= render 'preorder/share/twitter_js' %>
