<div class="gray_background" id='share_container'>
  <div class="wrapper center" id="congrats">
    <h2>
      Hooray! You've just helped Angelica live her dream!
    </h2>
    <p>Congratulations, you're <%= Settings.primary_stat_verb %> number <span id="backer_number"><%= number_with_delimiter Order.backers, :delimiter => "," %></span>,  in supporting Angelica. Share the great news!</p>
    <br />
    <br />
    <div id="share" class="clearfix">
      <div id='tweet_button_container'>
        <%= tweet_button %>
      </div>
    </div>
     <div id="order_id">Reservation ID: <%= @order.uuid %>. You can bookmark or print this page for your records.</div>
  </div>
</div>

<%= render 'preorder/share/twitter_js' %>
